*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
body{
  background: #F5F5F5;
}
:root {
  --yasil: #1EB67F;
  --boz: ##9C9FA4;
  --mainfont: 'Poppins', sans-serif;
}

#foto{
  margin: 50px 80px 0 80px;
}
#foto .des img{
  width: 100%;

}
#foto .mob{
 display: none;
}
.paid{
  margin: 50px 80px 0 80px;
}
.paid .ux{
  font-family: var(--mainfont);
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;



color: #000000;
}
.paid .unpaid a{
  text-decoration: none;
  font-family: var(--mainfont);
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
background-color: #EB5757;
border-radius: 10px;
padding: 8px 14px;


color: #FFFFFF;
}
.paid .unpaid{
  display: inline;
  padding-left: 24px;
}

.paid .ant{
  display: inline;
  float: right;
}
.paid .ant img{
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #B3ADAD;
}
.paid p{
  
font-family: var(--mainfont);
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;


color: #828282;
}
.overview{
  margin: 50px 80px 0 80px;
}
.overview div h4{
  font-family: var(--mainfont);
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
padding-bottom: 20px;
}
.overview div p{
  font-family: var(--mainfont);
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #828282;
}
.overview .apply{
  background-color: #6FCF97;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  padding-top: 6px;
  padding-bottom:6px;
}
.overview a{
  text-decoration: none;
  font-family: var(--mainfont);
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}